<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="attribution">
      Copyright ©2020 粤ICP备20000356
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="/scripts/highlight.js"></script>
